<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Valentin Escoyez - Web Designer and Front End Devloper - <%= title %></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		
		<link rel="icon" href="favicon.ico" />
		<!-- For third-generation iPad with high-resolution Retina display: -->
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144-precomposed.png">
		<!-- For iPhone with high-resolution Retina display: -->
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png">
		<!-- For first- and second-generation iPad: -->
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png">
		<!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
		<link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">
		
		<meta property="og:title" content="Valentin Escoyez's Portfolio">
		<meta property="og:description" content="Valentin is a webdesigner and front-end developer. You can see here his projects and abilities">
		<meta property="og:url" content="http://valentin.escoyez.be">
		<meta property="og:type" content="website">
		<meta property="og:site_name" content="Valentin Escoyez's Portfolio">
		<meta property="og:image" content="">
		
		<link rel="stylesheet" href="/stylesheets/normalize.css">
		<link rel="stylesheet" href="/stylesheets/style.css" />
		
		<script src="/javascripts/vendor/modernizr-2.6.2.min.js"></script>
		
	</head>
	<body class="<%= className %>">
		<!--[if lt IE 7]>
			<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
		<![endif]-->
		
		<!-- Add your site or application content here -->
	
		<div class="container">
		
			<header>
				
				<div class="wrapper">
				
					<div class="header-wrapper">
			
						<h1>
						
						<a href="/" class="logo-svg">
							<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="45px" height="30px" viewBox="0 0 45 30" enable-background="new 0 0 45 30" xml:space="preserve">
								<g>
									<polygon fill="#8C15CF" x="0" y="0" points="31.5,1.5 30,0 15,15 30,30 45,15 43.5,13.5 30,27 18,15 	"/>
									<rect fill="#8C15CF" x="35.689" y="5.068" transform="matrix(0.7071 -0.7071 0.7071 0.7071 4.9302 28.4025)" width="2.121" height="6.364"/>
									<polygon class='svg-color-0 svg-opacity'fill="#ac161e" x="0" y="0" points="31.5,1.5 30,0 15,15 30,30 45,15 43.5,13.5 30,27 18,15 	"/>
									<rect class='svg-color-0 svg-opacity'fill="#ac161e" x="35.689" y="5.068" transform="matrix(0.7071 -0.7071 0.7071 0.7071 4.9302 28.4025)" width="2.121" height="6.364"/>
									<polygon class='svg-color-1 svg-opacity'fill="#F5871F" x="0" y="0" points="31.5,1.5 30,0 15,15 30,30 45,15 43.5,13.5 30,27 18,15 	"/>
									<rect class='svg-color-1 svg-opacity'fill="#F5871F" x="35.689" y="5.068" transform="matrix(0.7071 -0.7071 0.7071 0.7071 4.9302 28.4025)" width="2.121" height="6.364"/>
									<polygon class='svg-color-2 svg-opacity'fill="#517E27" x="0" y="0" points="31.5,1.5 30,0 15,15 30,30 45,15 43.5,13.5 30,27 18,15 	"/>
									<rect class='svg-color-2 svg-opacity'fill="#517E27" x="35.689" y="5.068" transform="matrix(0.7071 -0.7071 0.7071 0.7071 4.9302 28.4025)" width="2.121" height="6.364"/>
									<polygon class='svg-color-3 svg-opacity'fill="#F94B0B" x="0" y="0" points="31.5,1.5 30,0 15,15 30,30 45,15 43.5,13.5 30,27 18,15 	"/>
									<rect class='svg-color-3 svg-opacity'fill="#F94B0B" x="35.689" y="5.068" transform="matrix(0.7071 -0.7071 0.7071 0.7071 4.9302 28.4025)" width="2.121" height="6.364"/>
									<polygon class='svg-color-4 svg-opacity'fill="#5EB5D8" x="0" y="0" points="31.5,1.5 30,0 15,15 30,30 45,15 43.5,13.5 30,27 18,15 	"/>
									<rect class='svg-color-4 svg-opacity'fill="#5EB5D8" x="35.689" y="5.068" transform="matrix(0.7071 -0.7071 0.7071 0.7071 4.9302 28.4025)" width="2.121" height="6.364"/>
									<polygon class='svg-color-5 svg-opacity'fill="#4D8DB4" x="0" y="0" points="31.5,1.5 30,0 15,15 30,30 45,15 43.5,13.5 30,27 18,15 	"/>
									<rect class='svg-color-5 svg-opacity'fill="#4D8DB4" x="35.689" y="5.068" transform="matrix(0.7071 -0.7071 0.7071 0.7071 4.9302 28.4025)" width="2.121" height="6.364"/>
								</g>
								<g>
									<polygon fill="#BBBBBB" points="15,27 1.5,13.5 0,15 15,30 30,15 28.5,13.5 	"/>
									<polygon fill="#BBBBBB" points="12,6 15,3 18,6 19.5,4.5 15,0 10.5,4.5 	"/>
								</g>
							</svg>
						</a>
						<a href="/">
						Valentin <span class="text-color">Escoyez</span>
						</a>
						
						</h1>
						
						<div class="mobile-menu mobile-only right">
							<div class="mobile-nav left">
							</div>
							<div class="mobile-share left">
							</div>
						</div>
						
						<nav class="menu">
							<ul>
							
								<li><a href="/" class="text-color home-link <%if (className == 'home') { %>active-page<% } %>">Home</a></li>
								<li><a href="work" class="text-color work-link <%if (className == 'work') { %>active-page<% } %>">Work</a></li>
								<li><a href="contact" class="text-color contact-link <%if (className == 'contact') { %>active-page<% } %>">Info</a></li>
							
							</ul>
						</nav>
						<div class="share">
							<ul>
								<li class="facebook-share"><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fvalentin.escoyez.be" target="_blank"></a></li>
								<li class="linkedin-share"><a href="http://www.linkedin.com/cws/share?url=http%3A%2F%2Fvalentin.escoyez.be" target="_blank"></a></li>
								<li class="twitter-share"><a href="https://twitter.com/intent/tweet?original_referer=http%3A%2F%2Fvalentin.escoyez.be&url=http%3A%2F%2Fvalentin.escoyez.be" target="_blank"></a></li>
							</ul>
						</div>
					
					</div>
					
				</div>
			
			</header>
			
			<div class="content">
		
				<div class="intro-page page page-down current-page">
				
					<div class="wrapper">
					
						<div class="page-wrapper">
				
							<h1><span class="big">Welcome,</span><br>My name is <strong>Valentin</strong>, I'm a young and passionate<br><strong>Web Designer</strong> and <strong>Front End Developer</strong> !</h1>
							<p>I like to discover new things so I love travelling, that's why I'm currently in <strong>Vancouver</strong> looking for a <strong>job</strong>.</p>
							<p class="js-only">Here is other <strong>things I like</strong> in random order :</p>
							<div class="like-slider js-only">
								<ul class="slides">
									<li><a href="http://ami.responsivedesign.is/" target="_blank">resizing my browser</a></li>
									<li>listening music</li>
									<li><a href="http://www.codeschool.com/" target="_blank">learning effectively</a></li>
									<li><a href="http://www.w3.org/" target="_blank">web standards</a></li>
									<li>belgian beers</li>
									<li><a href="http://modernizr.com/" target="_blank">progressive enhancement</a></li>
									<li>typography</li>
									<li>skiing</li>
									<li>cutting edge technologies</li>
								</ul>
							</div>
							<p>If you are interested, you can know more <strong>about me</strong>, <strong>contact me</strong> or watch some of <strong>my projects</strong> on this website !</p>
						
						</div>
				
					</div>
				
				</div>
				
				<div class="work-page page">
				
					<div class="wrapper">
					
						<div class="work-container">
				
							<article id="case-0" class="case-block third" data-case="0">
							
								<div class="case-content">
							
									<div class="block-wrapper">
										
										<div class="thumb">
											<div class="thumb-wrap">
												<img src="/images/logo_gue.png">
											</div>
										</div>
										
										<div class="case-study">
											
											<div class="mobile-only thumb-color">
												<img src="/images/logo_gue_color.png">
											</div>
											
											<h1 class="left">GUE/NGL</h1>
											
											<div class="case-slider">
												<div class="slides">
													<div class="case-slide slide-design slide-0">
														<h1 class="anim anim-1 prev-anim-4">Design</h1>
														<div class="design-img-1">
															<img class="anim anim-3 prev-anim-2" src="/images/design_gue01.jpg">
														</div>
														<div class="design-img-2">
															<img class="anim anim-2 prev-anim-3" src="/images/design_gue02.jpg">
														</div>
														<div class="design-img-3">
															<img class="anim anim-4 prev-anim-1" src="/images/design_gue03.jpg">
														</div>
													</div>
													<div class="case-slide slide-responsive slide-1">
														<h1 class="anim anim-1 prev-anim-5">Responsive</h1>
														<div class="respon-img-1">
															<img class="anim anim-3 prev-anim-3" src="/images/responsive-gue-imac.png">
														</div>
														<div class="respon-img-2">
															<img class="anim anim-2 prev-anim-4" src="/images/responsive-gue-macbook.png">
														</div>
														<div class="respon-img-3">
															<img class="anim anim-4 prev-anim-2" src="/images/responsive-gue-ipad.png">
														</div>
														<div class="respon-img-4">
															<img class="anim anim-5 prev-anim-1" src="/images/responsive-gue-iphone.png">
														</div>
													</div>
													<div class="case-slide slide-tech slide-2">
														<h1 class="anim anim-1 prev-anim-6">Technologies used</h1>
														<div class="tech-img-1">
															<a href="http://ellislab.com/expressionengine" target="_blank">
																<img class="anim anim-2 prev-anim-5" src="/images/ee.png">
															</a>
														</div>
														<div class="tech-img-3">
															<a href="http://foundation.zurb.com/" target="_blank">
																<img class="anim anim-3 prev-anim-4" src="/images/foundation.png">
															</a>
														</div>
														<div class="tech-img-5">
															<img class="anim anim-4 prev-anim-3" src="/images/html5.png">
														</div>
														<div class="tech-img-7">
															<img class="anim anim-5 prev-anim-2" src="/images/css3.png">
														</div>
														<div class="tech-img-9">
															<a href="http://sass-lang.com/" target="_blank">
																<img class="anim anim-6 prev-anim-1" src="/images/sass.png">
															</a>
														</div>
													</div>
												</div>
											</div>
											
											<div class="case-text">
												<div class="two-thirds">
													<div class="padding">
														<h2>Presentation</h2>
														<p>This is a <a href="http://www.spade.be" class="text-color" target="_blank">Spade agency</a> project. GUE/NGL is a European Parliamentary Group, their website is mostly used to publish news, to plan events and to present politicians.</p>
													</div>
												</div>
												<div class="third">
													<div class="padding">
													<h2>What I did</h2>
														<ul>
															<li>Design</li>
															<li>HTML with <a href="http://smacss.com/" class="text-color" target="_blank">SMACSS</a> methodology</li>
															<li>CSS and Media Queries</li>
															<li>Javascript with Jquery</li>
															<li>Part of the <a href='http://ellislab.com/expressionengine' class="text-color"  target="_blank">Expression Engine</a> configuration</li>
														</ul>
														<a class="button button-case-site" href="http://www.guengl.eu">Watch the website !</a>
													</div>
												</div>
											</div>
										
										
										</div>
										
									</div>
								
								</div>
							
							</article>
							
							<article id="case-1" class="case-block third" data-case="1">
							
								<div class="case-content">
							
									<div class="block-wrapper">
								
										<div class="thumb">
											<div class="thumb-wrap">
												<img src="/images/logo_elc.png">
											</div>
										</div>
										
										<div class="case-study">
											
											<div class="mobile-only thumb-color">
												<img src="/images/logo_elc_color.png">
											</div>
											
											<h1>ELC</h1>
											
											<div class="case-slider">
												<div class="slides">
													<div class="case-slide slide-responsive slide-0">
														<h1 class="anim anim-1 prev-anim-5">Responsive</h1>
														<div class="respon-img-1">
															<img class="anim anim-3 prev-anim-3" src="/images/responsive-elc-imac.png">
														</div>
														<div class="respon-img-2">
															<img class="anim anim-2 prev-anim-4" src="/images/responsive-elc-macbook.png">
														</div>
														<div class="respon-img-3">
															<img class="anim anim-4 prev-anim-2" src="/images/responsive-elc-ipad.png">
														</div>
														<div class="respon-img-4">
															<img class="anim anim-5 prev-anim-1" src="/images/responsive-elc-iphone.png">
														</div>
													</div>
													<div class="case-slide slide-tech slide-1">
														<h1 class="anim anim-1 prev-anim-5">Technologies used</h1>
														<div class="tech-img-2">
															<a href="http://ellislab.com/expressionengine" target="_blank">
																<img class="anim anim-2 prev-anim-4" src="/images/ee.png">
															</a>
														</div>
														<div class="tech-img-4">
															<a href="http://foundation.zurb.com/" target="_blank">
																<img class="anim anim-3 prev-anim-3" src="/images/foundation.png">
															</a>
														</div>
														<div class="tech-img-6">
															<img class="anim anim-4 prev-anim-2" src="/images/html5.png">
														</div>
														<div class="tech-img-8">
															<img class="anim anim-5 prev-anim-1" src="/images/css3.png">
														</div>
													</div>
												</div>
											</div>
											
											<div class="case-text">
												<div class="two-thirds">
													<div class="padding">
														<h2>Presentation</h2>
														<p>This is a <a href="http://www.spade.be" class="text-color" target="_blank">Spade agency</a> project. ELC is a Professional European Association, and they mostly communicate with politicians, officials, professionals and journalists.The website is their main platform for official communications and press releases, and had to convey their professional values and neutrality.</p>
													</div>
												</div>
												<div class="third">
													<div class="padding">
													<h2>What I did</h2>
														<ul>
															<li>HTML with <a href="http://smacss.com/" class="text-color" target="_blank">SMACSS</a> methodology</li>
															<li>CSS and Media Queries</li>
															<li>Javascript with Jquery</li>
															<li><a href='http://ellislab.com/expressionengine' class="text-color"  target="_blank">Expression Engine</a> configuration</li>
														</ul>
														<a class="button button-case-site" href="http://www.elc-eu.org">Watch the website !</a>
													</div>
												</div>
											</div>
										
										
										</div>
										
									</div>
								
								</div>
							
							</article>
							
							<article id="case-2" class="case-block third"  data-case="2">
							
								<div class="case-content">
								
									<div class="block-wrapper">
								
										<div class="thumb">
											<div class="thumb-wrap">
												<img src="/images/logo_bri.png">
											</div>
										</div>
										
										<div class="case-study">
											
											<div class="mobile-only thumb-color">
												<img src="/images/logo_bri_color.png">
											</div>
											
											<h1>Briesco</h1>
											
											<div class="case-slider">
												<div class="slides">
													<div class="case-slide slide-design slide-0">
														<h1 class="anim anim-1 prev-anim-4">Design</h1>
														<div class="design-img-1">
															<img class="anim anim-3 prev-anim-2" src="/images/design_bri01.jpg">
														</div>
														<div class="design-img-2">
															<img class="anim anim-2 prev-anim-3" src="/images/design_bri02.jpg">
														</div>
														<div class="design-img-3">
															<img class="anim anim-4 prev-anim-1" src="/images/design_bri03.jpg">
														</div>
													</div>
													<div class="case-slide slide-tech slide-1">
														<h1 class="anim anim-1 prev-anim-4">Technologies used</h1>
														<div class="tech-img-3">
															<a href="http://www.spip.net" target="_blank">
																<img class="anim anim-2 prev-anim-3" src="/images/spip.png">
															</a>
														</div>
														<div class="tech-img-5">
															<img class="anim anim-3 prev-anim-2" src="/images/html5.png">
														</div>
														<div class="tech-img-7">
															<img class="anim anim-4 prev-anim-1" src="/images/css3.png">
														</div>
													</div>
												</div>
											</div>
											
											<div class="case-text">
												<div class="two-thirds">
													<div class="padding">
														<h2>Presentation</h2>
														<p>Briesco is a wood boiler selling company.</p>
													</div>
												</div>
												<div class="third">
													<div class="padding">
													<h2>What I did</h2>
														<ul>
															<li>Logo creation</li>
															<li>Design</li>
															<li>HTML</li>
															<li>CSS</li>
															<li>Javascript with Jquery</li>
															<li><a href='http://www.spip.net' class="text-color"  target="_blank">Spip CMS</a> configuration</li>
														</ul>
														<a class="button button-case-site closed">Not online yet</a>
													</div>
												</div>
											</div>
										
										
										</div>
									
									</div>
									
								</div>
							
							</article>
							
							<article id="case-3" class="case-block third" data-case="3">
							
								<div class="case-content">
								
									<div class="block-wrapper">
								
										<div class="thumb">
											<div class="thumb-wrap">
												<img src="/images/logo_gra.png">
											</div>
										</div>
										
										<div class="case-study">
											
											<div class="mobile-only thumb-color">
												<img src="/images/logo_gra_color.png">
											</div>
											
											<h1>L'esprit d'un graffeur</h1>
											
											<div class="case-slider">
												<div class="slides">
													<div class="case-slide slide-design slide-0">
														<h1 class="anim anim-1 prev-anim-4">Design</h1>
														<div class="design-img-1">
															<img class="anim anim-3 prev-anim-2" src="/images/design_gra01.jpg">
														</div>
														<div class="design-img-2">
															<img class="anim anim-2 prev-anim-3" src="/images/design_gra02.jpg">
														</div>
														<div class="design-img-3">
															<img class="anim anim-4 prev-anim-1" src="/images/design_gra03.jpg">
														</div>
													</div>
													<div class="case-slide slide-tech slide-1">
														<h1 class="anim anim-1 prev-anim-3">Technologies used</h1>
														<div class="tech-img-4">
															<a href="http://jquery.com/" target="_blank">
																<img class="anim anim-2 prev-anim-2" src="/images/jquery.png">
															</a>
														</div>
														<div class="tech-img-6">
															<img class="anim anim-3 prev-anim-1" src="/images/css3.png">
														</div>
													</div>
												</div>
											</div>
											
											<div class="case-text">
												<div class="two-thirds">
													<div class="padding">
														<h2>Presentation</h2>
														<p>This is a school project. The instructions was building a web documentary.</p>
													</div>
												</div>
												<div class="third">
													<div class="padding">
													<h2>What I did</h2>
														<ul>
															<li>Design</li>
															<li>HTML</li>
															<li>CSS</li>
															<li>Javascript with Jquery</li>
															<li>Video Editing</li>
														</ul>
														<a class="button button-case-site" href="http://www.escoyez.be/webdoc">Watch the website !</a>
													</div>
												</div>
											</div>
										
										
										</div>
									
									</div>
									
								</div>
							
							</article>
							
							<article id="case-4" class="case-block third" data-case="4">
							
								<div class="case-content">
								
									<div class="block-wrapper">
								
										<div class="thumb">
											<div class="thumb-wrap">
												<img src="/images/logo_co2.png">
											</div>
										</div>
										
										<div class="case-study">
											
											<div class="mobile-only thumb-color">
												<img src="/images/logo_co2_color.png">
											</div>
											
											<h1>L'impact du CO2 sur notre planète</h1>
											
											<div class="case-slider">
												<div class="slides">
													<div class="case-slide slide-design slide-0">
														<h1 class="anim anim-1 prev-anim-4">Design</h1>
														<div class="design-img-1">
															<img class="anim anim-3 prev-anim-2" src="/images/design_co201.jpg">
														</div>
														<div class="design-img-2">
															<img class="anim anim-2 prev-anim-3" src="/images/design_co202.jpg">
														</div>
														<div class="design-img-3">
															<img class="anim anim-4 prev-anim-1" src="/images/design_co203.jpg">
														</div>
													</div>
													<div class="case-slide slide-tech slide-1">
														<h1 class="anim anim-1 prev-anim-4">Technologies used</h1>
														<div class="tech-img-3">
															<a href="http://jquery.com/" target="_blank">
																<img class="anim anim-2 prev-anim-3" src="/images/jquery.png">
															</a>
														</div>
														<div class="tech-img-5">
															<img class="anim anim-3 prev-anim-2" src="/images/html5.png">
														</div>
														<div class="tech-img-7">
															<img class="anim anim-4 prev-anim-1" src="/images/css3.png">
														</div>
													</div>
												</div>
											</div>
											
											<div class="case-text">
												<div class="two-thirds">
													<div class="padding">
														<h2>Presentation</h2>
														<p>This is a school project. Datavisualisation about the CO2 emissions.</p>
													</div>
												</div>
												<div class="third">
													<div class="padding">
													<h2>What I did</h2>
														<ul>
															<li>Design</li>
															<li>HTML with SVG</li>
															<li>CSS</li>
															<li>Javascript with Jquery</li>
														</ul>
														<a class="button button-case-site" href="http://www.escoyez.be/tfe">Watch the website !</a>
													</div>
												</div>
											</div>
										
										
										</div>
									
									</div>
								
								</div>
							
							</article>
							
							<article id="case-5" class="case-block third" data-case="5">
							
								<div class="case-content">
								
									<div class="block-wrapper">
								
										<div class="thumb">
											<div class="thumb-wrap">
												<img src="/images/logo_zen.png">
											</div>
										</div>
										
										<div class="case-study">
											
											<div class="mobile-only thumb-color">
												<img src="/images/logo_zen_color.png">
											</div>
											
											<h1>CSS Zen Garden</h1>
											
											<div class="case-slider">
												<div class="slides">
													<div class="case-slide slide-design slide-0">
														<h1 class="anim anim-1 prev-anim-4">Design</h1>
														<div class="design-img-1">
															<img class="anim anim-3 prev-anim-2" src="/images/design_zen01.jpg">
														</div>
														<div class="design-img-2">
															<img class="anim anim-2 prev-anim-3" src="/images/design_zen02.jpg">
														</div>
														<div class="design-img-3">
															<img class="anim anim-4 prev-anim-1" src="/images/design_zen03.jpg">
														</div>
													</div>
													<div class="case-slide slide-tech slide-1">
														<h1 class="anim anim-1 prev-anim-2">Technologies used</h1>
														<div class="tech-img-5">
															<img class="anim anim-2 prev-anim-1" src="/images/css3.png">
														</div>
													</div>
												</div>
											</div>
											
											<div class="case-text">
												<div class="two-thirds">
													<div class="padding">
														<h2>Presentation</h2>
														<p>This is a school project. Create a design with a fixed HTML using CSS only.</p>
													</div>
												</div>
												<div class="third">
													<div class="padding">
													<h2>What I did</h2>
														<ul>
															<li>Design</li>
															<li>CSS</li>
														</ul>
														<a class="button button-case-site" href="http://www.escoyez.be/zen">Watch the website !</a>
													</div>
												</div>
											</div>
										
										
										</div>
									
									</div>
									
								</div>
							
							</article>
						
						</div>
						
					</div>
				
				</div>
				
				<div class="contact-page page-down page">
				
					<div class="wrapper">
					
						<div class="page-wrapper">
						
							<div class="half">
								<div class="about-content">
									<h1>About</h1>
									
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
								</div>
							</div>
						
							<div class="half">
								<div class="contact-content">
									<h1 class="contact-label">Contact</h1>
									<%if (errorMessage != '' && errorMessage != 'Thank you, your message has been sent!') { %>
									<p class="contact-error"><%= errorMessage %></p>
									<% } %>
									<%if (errorMessage == 'Thank you, your message has been sent!') { %>
									<p class="contact-approved"><%= errorMessage %></p>
									<% } %>
									<form method="post" action="/contact">
										<label class="contact-label" for="contact-name">Your name</label>
									    <input id="contact-name" class="all contact-form" type="text" name="user[name]">
									    <label class="contact-label" for="contact-email">Your email</label>
									    <input id="contact-email" class="all contact-form" type="text" name="user[email]">
									    <label class="contact-label" for="contact-message">Your message</label>
									    <textarea id="contact-message" class="all contact-form" rows="5" name="user[message]"></textarea>
									    <input class="all contact-form" type="submit" value="Submit">
									</form>
								</div>
							</div>
						
						</div>
					
					</div>
				
				</div>
				
			</div>
		
		</div>
	
		<script src="/javascripts/vendor/jquery-1.8.3.min.js"></script>
		<script src="/javascripts/vendor/jquery.flexslider-min.js"></script>
		<script src="/javascripts/plugins.js"></script>
		<script src="/javascripts/main.js"></script>
	
		<!-- Google Analytics: change UA-XXXXX-X to be your site's ID.
		<script>
			var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
			(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
			g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
			s.parentNode.insertBefore(g,s)}(document,'script'));
		</script>
		-->
	</body>
</html>