/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Font-Face
   ========================================================================== */
@font-face {
  font-family: 'raleway';
  src: url('../font/raleway-extralight-webfont.eot');
  src: url('../font/raleway-extralight-webfont.eot?#iefix') format('embedded-opentype'), url('../font/raleway-extralight-webfont.woff') format('woff'), url('../font/raleway-extralight-webfont.ttf') format('truetype'), url('../font/raleway-extralight-webfont.svg#ralewaylight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'raleway';
  src: url('../font/raleway-medium-webfont.eot');
  src: url('../font/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../font/raleway-medium-webfont.woff') format('woff'), url('../font/raleway-medium-webfont.ttf') format('truetype'), url('../font/raleway-medium-webfont.svg#ralewaylight') format('svg');
  font-weight: bold;
  font-style: normal;
}
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  font-family: 'raleway', sans-serif;
  font-weight: normal;
  color: #DDD;
}
body {
  font-size: 16px;
  line-height: 1.4;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.chromeframe {
  margin: 0;
  background: #ccc;
  color: #000;
  padding: 0.2em;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*-------------------------------------------------
	Page Structure
-------------------------------------------------*/
html {
  height: 100%;
}
body {
  background-color: #69008c;
  background-image: -webkit-radial-gradient(50% 0%, ellipse cover, transparent, rgba(0, 11, 38, 0.9) 100%);
  background-image: -moz-radial-gradient(50% 0%, ellipse cover, transparent, rgba(0, 11, 38, 0.9) 100%);
  background-image: -o-radial-gradient(50% 0%, ellipse cover, transparent, rgba(0, 11, 38, 0.9) 100%);
  background-image: -ms-radial-gradient(50% 0%, ellipse cover, transparent, rgba(0, 11, 38, 0.9) 100%);
  background-image: radial-gradient(50% 0%, ellipse cover, transparent, rgba(0, 11, 38, 0.9) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  -webkit-transition: background 0.4s ease-in-out;
  -moz-transition: background 0.4s ease-in-out;
  transition: background 0.4s ease-in-out;
}
.container {
  width: 100%;
  min-height: 100%;
  background-image: url(../images/bg_line.png);
  background-repeat: repeat;
  background-attachment: fixed;
  overflow: hidden;
}
.svg .container {
  background-image: url(../images/bg_line.svg);
}
.all {
  width: 100%;
  float: left;
}
.half {
  width: 50%;
  float: left;
}
.third {
  width: 33.3333%;
  float: left;
}
.two-thirds {
  width: 66.6666%;
  float: left;
}
.left {
  float: left;
}
.right {
  float: right;
}
menu,
ol,
ul {
  padding: 0 0 0 20px;
}
a {
  color: #8C15CF;
  text-decoration: none;
}
.mobile-only {
  display: none;
}
.button {
  display: block;
  height: 36px;
  background: #731991;
  color: #DDD;
  line-height: 36px;
  text-align: center;
  box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.7), inset 0 0 10px 0 rgba(0, 0, 0, 0.59);
  padding: 0 20px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.button:hover {
  box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.7), inset 0 0 20px 0 #000000;
}
.button.well {
  height: 46px;
  line-height: 46px;
  box-shadow: 0 0 0 1px #eeeeee, inset 0 0 1px #000000, inset 0 0 0 5px #313131, inset 0 0 0px 6px #222222, inset 0 0 0 7px rgba(255, 255, 255, 0.15), inset 0 60px 50px -50px rgba(255, 255, 255, 0.3);
}
.button.well:hover {
  box-shadow: 0 0 0 1px #eeeeee, inset 0 0 1px #000000, inset 0 0 0 5px #313131, inset 0 0 0px 6px #3a3a3a, inset 0 0 2px 7px rgba(0, 0, 0, 0.7);
}
.svg.inlinesvg.csstransitions .case-open .button.closed {
  background: #AFAFAF;
}
.svg.inlinesvg.csstransitions .case-open .button.closed:hover {
  box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.7), inset 0 0 10px 0 rgba(0, 0, 0, 0.59);
}
.button.closed {
  background: #AFAFAF;
}
.svg.inlinesvg.csstransitions .case-0-open .button {
  background-color: #ac161e;
}
.svg.inlinesvg.csstransitions .case-1-open .button {
  background-color: #F5871F;
}
.svg.inlinesvg.csstransitions .case-2-open .button {
  background-color: #517E27;
}
.svg.inlinesvg.csstransitions .case-3-open .button {
  background-color: #262760;
}
.svg.inlinesvg.csstransitions .case-4-open .button {
  background-color: #5EB5D8;
}
.svg.inlinesvg.csstransitions .case-5-open .button {
  background-color: #4D8DB4;
}
.svg.inlinesvg.csstransitions .case-0-open {
  background-color: #ac161e;
}
.svg.inlinesvg.csstransitions .case-1-open {
  background-color: #F5871F;
}
.svg.inlinesvg.csstransitions .case-2-open {
  background-color: #517E27;
}
.svg.inlinesvg.csstransitions .case-3-open {
  background-color: #262760;
}
.svg.inlinesvg.csstransitions .case-4-open {
  background-color: #5EB5D8;
}
.svg.inlinesvg.csstransitions .case-5-open {
  background-color: #4D8DB4;
}
.text-color {
  color: #8C15CF;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  opacity: 1;
}
.text-color.active-page {
  color: #BBB;
}
.svg.inlinesvg.csstransitions .case-0-open .text-color {
  color: #ac161e;
}
.svg.inlinesvg.csstransitions .case-1-open .text-color {
  color: #F5871F;
}
.svg.inlinesvg.csstransitions .case-2-open .text-color {
  color: #517E27;
}
.svg.inlinesvg.csstransitions .case-3-open .text-color {
  color: #262760;
}
.svg.inlinesvg.csstransitions .case-4-open .text-color {
  color: #5EB5D8;
}
.svg.inlinesvg.csstransitions .case-5-open .text-color {
  color: #4D8DB4;
}
.svg.inlinesvg.csstransitions .case-open header a.text-color:hover {
  color: #BBB;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.svg.inlinesvg.csstransitions .case-open .text-color.active-page {
  color: #BBB;
}
.svg.inlinesvg.csstransitions .case-open .content a.text-color:hover {
  opacity: 0.6;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.svg-opacity {
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}
.svg.inlinesvg.csstransitions .case-0-open .svg-color-0 {
  opacity: 1;
}
.svg.inlinesvg.csstransitions .case-1-open .svg-color-1 {
  opacity: 1;
}
.svg.inlinesvg.csstransitions .case-2-open .svg-color-2 {
  opacity: 1;
}
.svg.inlinesvg.csstransitions .case-3-open .svg-color-3 {
  opacity: 1;
}
.svg.inlinesvg.csstransitions .case-4-open .svg-color-4 {
  opacity: 1;
}
.svg.inlinesvg.csstransitions .case-5-open .svg-color-5 {
  opacity: 1;
}
.wrapper {
  max-width: 920px;
  margin: 0 auto;
  padding: 0 20px;
}
.contact-page .wrapper {
  overflow: hidden;
}
.page {
  height: 1px;
}
.home .intro-page {
  height: auto;
}
.work .work-page {
  height: auto;
}
.contact .contact-page {
  height: auto;
}
img {
  max-width: 100%;
  max-height: 100%;
}
.js-only {
  display: none;
}
.js .js-only {
  display: block;
}
/*-------------------------------------------------
	Header
-------------------------------------------------*/
.header-wrapper {
  margin: 0 10px;
}
header {
  background: #000;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  z-index: 100;
}
header h1 {
  margin: 0;
  float: left;
  -webkit-backface-visibility: hidden;
}
header h1 a {
  margin: 0;
  padding-left: 55px;
  background: url(../images/logo.png) no-repeat left center;
  float: left;
  line-height: 30px;
  font-size: 24px;
  text-decoration: none;
  color: #BBB;
  padding: 6px 0 6px 54px;
  height: 30px;
}
.theme1 header h1 a span {
  background: url(../images/logo_1.png) no-repeat left center;
}
.svg header h1 a {
  background: url(../images/logo.svg) no-repeat left center;
}
.svg.inlinesvg header h1 a {
  background: none;
  padding-left: 0;
}
header h1 a.logo-svg {
  display: none;
}
.svg.inlinesvg header h1 a.logo-svg {
  display: block;
  padding-right: 10px;
}
.menu ul {
  display: block;
  float: right;
  margin: 0;
  padding: 0;
}
.menu ul li {
  display: block;
  float: left;
  margin-left: 30px;
  -webkit-backface-visibility: hidden;
}
.menu ul li a {
  text-decoration: none;
  line-height: 42px;
  font-size: 20px;
}
.menu ul li.page-active a.text-color {
  color: #BBB;
}
.menu ul li a.text-color:hover {
  color: #BBB;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.share {
  position: absolute;
  left: -150px;
  top: 92px;
  background-color: #000;
  background: url(/images/share.png) no-repeat right center rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 10px 35px 10px 10px;
  -webkit-transition: left 0.2s ease-in-out;
  -moz-transition: left 0.2s ease-in-out;
  -ms-transition: left 0.2s ease-in-out;
  -o-transition: left 0.2s ease-in-out;
  transition: left 0.2s ease-in-out;
  z-index: 100;
}
.svg .share {
  background-image: url(/images/share.svg);
}
.share:hover {
  left: 0px;
}
.share ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.share li {
  float: left;
  margin-right: 10px;
}
.share li a {
  display: block;
  width: 40px;
  height: 40px;
  opacity: 0.8;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  background-repeat: no-repeat;
  background-position: center center;
}
.share li a:hover {
  opacity: 1;
}
.share .twitter-share a {
  background-image: url(/images/share-tw.png);
}
.svg .share .twitter-share a {
  background-image: url(/images/share-tw.svg);
}
.share .linkedin-share a {
  background-image: url(/images/share-in.png);
}
.svg .share .linkedin-share a {
  background-image: url(/images/share-in.svg);
}
.share .facebook-share a {
  background-image: url(/images/share-fb.png);
}
.svg .share .facebook-share a {
  background-image: url(/images/share-fb.svg);
}
/*-------------------------------------------------
	Content
-------------------------------------------------*/
.content {
  position: relative;
  width: 300%;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  left: 0;
}
.csstransforms .work .content {
  left: -100%;
}
.csstransforms .contact .content {
  left: -200%;
}
h1,
h2,
h3,
h4,
h5,
h6,
h7,
h8 {
  font-weight: normal;
  margin: 0;
}
/* ----------- Artcicle Content ---------- */
article {
  color: #222;
}
article h1 {
  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
  padding: 20px;
}
article .case-slider h1 {
  height: 40px;
  color: #DDD;
  padding: 0 0 0 30px;
  font-weight: normal;
  line-height: normal;
  font-size: 22px;
  position: relative;
}
/*-------------------------------------------------
	Pages
-------------------------------------------------*/
.page {
  width: 33.3333%;
  float: left;
}
.page-wrapper {
  margin: 0 10px;
  -webkit-backface-visibility: hidden;
}
.page-down {
  position: relative;
  margin-top: 92px;
}
/*-------------------------------------------------
	Home Page
-------------------------------------------------*/
.intro-page h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 40px;
}
.intro-page p {
  font-size: 26px;
  margin: 8px 0;
  line-height: 36px;
  text-align: center;
}
.intro-page .big {
  font-size: 64px;
}
.like-slider ul {
  margin: 0;
  padding: 0;
  width: 350px !important;
  list-style: none;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 50%;
  margin-left: -175px;
}
.like-slider ul li {
  font-size: 26px;
  line-height: 40px;
  margin: 0;
  padding: 0 10px;
  text-align: center;
}
/*-------------------------------------------------
	Info Page
-------------------------------------------------*/
.about-content {
  padding: 20px 10px 2000px 20px;
  margin-bottom: -1980px;
  background: #000;
  background: rgba(0, 0, 0, 0.5);
}
.contact-content {
  border: 20px solid #000;
  border-color: rgba(0, 0, 0, 0.5);
  border-left-width: 10px;
  overflow: hidden;
  border-bottom-width: 2000px;
  margin-bottom: -1980px;
}
.contact-form {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/javascripts/boxsizing.htc);
  border: none;
  background: rgba(0, 0, 0, 0.3);
  padding: 5px;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -ms-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}
.contact-form:focus {
  background: rgba(0, 0, 0, 0.2);
  outline: none;
}
.contact-label {
  background: rgba(0, 0, 0, 0.5);
  display: block;
  clear: both;
  padding: 16px 0 10px;
  margin: 0;
}
.contact-error {
  background: rgba(214, 18, 18, 0.5);
  display: block;
  clear: both;
  padding: 5px 5px 5px;
  border: 1px solid #E2003F;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/javascripts/boxsizing.htc);
}
.contact-approved {
  background: rgba(30, 110, 155, 0.5);
  display: block;
  clear: both;
  padding: 5px 5px 5px;
  border: 1px solid #2077A8;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/javascripts/boxsizing.htc);
}
.contact-page h1.contact-label {
  padding: 0;
}
/*-------------------------------------------------
	Work Page
-------------------------------------------------*/
.case-open .work-page {
  max-height: 730px;
}
.thumb {
  width: 100%;
  position: relative;
  height: 50.01%;
  cursor: pointer;
  text-align: center;
}
.thumb-wrap {
  height: 50%;
  position: relative;
  top: 25%;
  bottom: 25%;
  margin: 0 20%;
}
.thumb img {
  width: auto;
  height: 100%;
}
.svg.backgroundsize .thumb img {
  visibility: hidden;
}
.svg.backgroundsize .thumb-wrap {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.svg.backgroundsize #case-0 .thumb-wrap {
  background-image: url(../images/logo_gue.svg);
}
.svg.backgroundsize #case-1 .thumb-wrap {
  background-image: url(../images/logo_elc.svg);
}
.svg.backgroundsize #case-2 .thumb-wrap {
  background-image: url(../images/logo_bri.svg);
}
.svg.backgroundsize #case-3 .thumb-wrap {
  background-image: url(../images/logo_gra.svg);
}
.svg.backgroundsize #case-4 .thumb-wrap {
  background-image: url(../images/logo_co2.svg);
}
.svg.backgroundsize #case-5 .thumb-wrap {
  background-image: url(../images/logo_zen.svg);
}
.case-text {
  padding: 5px 10px;
  overflow: hidden;
}
.padding {
  padding: 10px;
}
.work-container {
  width: 920px;
  height: 383px;
  position: relative;
  margin-top: 82px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  left: 50%;
  margin-left: -460px;
  -webkit-backface-visibility: hidden;
}
.case-open .work-container {
  width: 2760px;
  height: 1220px;
  margin-left: -1380px;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.case-0-open .work-container {
  left: 150%;
}
.case-1-open .work-container {
  left: 50%;
}
.case-2-open .work-container {
  left: -50%;
}
.case-3-open .work-container {
  left: 150%;
  top: -610px;
}
.case-4-open .work-container {
  left: 50%;
  top: -610px;
}
.case-5-open .work-container {
  left: -50%;
  top: -610px;
}
.case-block {
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/javascripts/boxsizing.htc);
  padding: 10px;
  height: 50%;
}
.case-content {
  height: 100%;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
}
.block-wrapper {
  background: #000;
  background: rgba(0, 0, 0, 0.5);
  height: 200%;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-backface-visibility: hidden;
  position: relative;
  top: 0;
}
.block-wrapper:hover {
  background: rgba(0, 0, 0, 0.8);
}
.active-case .block-wrapper {
  top: -100%;
  -webkit-transition: all 0.4s ease-in-out 0.6s;
  -moz-transition: all 0.4s ease-in-out 0.6s;
  -ms-transition: all 0.4s ease-in-out 0.6s;
  -o-transition: all 0.4s ease-in-out 0.6s;
  transition: all 0.4s ease-in-out 0.6s;
  background: rgba(0, 0, 0, 0.8);
}
.active-case.closing-case .block-wrapper {
  top: 0;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.case-study {
  width: 100%;
  height: 50%;
  background: #DDD;
  position: relative;
  -webkit-backface-visibility: hidden;
}
.button.button-case-site {
  position: absolute;
  right: 0;
  top: 0;
  margin: 20px;
}
/* ---------- Slider ---------- */
.case-slider {
  width: 900px;
  height: auto;
  background: #2C2C2C;
  box-shadow: inset 0 50px 25px -50px #050505, inset 0 -50px 15px -50px #050505;
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
  position: relative;
  clear: both;
}
.case-viewport {
  background: url(/images/bg_slider.png) repeat;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.svg .case-viewport {
  background: url(/images/bg_slider.svg) repeat;
}
.case-slide {
  position: relative;
  height: 240px;
  padding: 20px 0 30px;
  overflow: hidden;
}
.case-direction-nav {
  list-style: none;
  float: left;
  margin: 0;
  padding: 0;
}
.case-direction-nav a {
  position: absolute;
  top: 50%;
  left: -45px;
  height: 40px;
  width: 40px;
  text-indent: -99999px;
  background: url(/images/slider-prev.png);
  margin-top: -20px;
  border-radius: 0 3px 3px 0;
  box-shadow: 0px 0px 3px black;
  -webkit-transition: left 0.4s ease-in-out;
  -moz-transition: left 0.4s ease-in-out;
  -ms-transition: left 0.4s ease-in-out;
  -o-transition: left 0.4s ease-in-out;
  transition: left 0.4s ease-in-out;
}
.active-case .case-direction-nav a.case-prev {
  left: 0px;
}
.active-case .case-direction-nav a.case-prev.case-disabled {
  left: -45px;
}
.case-direction-nav a.case-next {
  right: -45px;
  left: auto;
  border-radius: 3px 0 0 3px;
  background: url(/images/slider-next.png);
  -webkit-transition: right 0.4s ease-in-out;
  -moz-transition: right 0.4s ease-in-out;
  -ms-transition: right 0.4s ease-in-out;
  -o-transition: right 0.4s ease-in-out;
  transition: right 0.4s ease-in-out;
}
.active-case .case-direction-nav a.case-next {
  right: 0px;
}
.active-case .case-direction-nav a.case-next.case-disabled {
  right: -45px;
}
.cssanimations .case-slide img {
  max-height: 100%;
  width: auto;
  position: relative;
}
.slide-design div {
  width: 300px;
  position: absolute;
  margin-left: -150px;
  top: 65px;
}
.slide-design img {
  box-shadow: 0px 2px 12px black;
}
.slide-design .design-img-1 {
  left: 50%;
  z-index: 5;
  top: 55px;
}
.slide-design .design-img-2 {
  left: 25%;
}
.slide-design .design-img-3 {
  left: 75%;
}
.slide-responsive div {
  height: 200px;
  position: absolute;
}
.slide-responsive .respon-img-1 {
  margin-left: -115px;
  left: 51%;
}
.slide-responsive .respon-img-2 {
  margin-left: -105px;
  left: 26%;
}
.slide-responsive .respon-img-3 {
  margin-left: -47px;
  left: 71%;
}
.slide-responsive .respon-img-4 {
  margin-left: -20px;
  left: 81%;
}
.slide-tech div {
  position: absolute;
  margin-left: -80px;
  height: 200px;
}
.slide-tech .tech-img-1 {
  left: 14%;
}
.slide-tech .tech-img-2 {
  left: 20%;
}
.slide-tech .tech-img-3 {
  left: 32%;
}
.slide-tech .tech-img-4 {
  left: 40%;
}
.slide-tech .tech-img-5 {
  left: 50%;
}
.slide-tech .tech-img-6 {
  left: 60%;
}
.slide-tech .tech-img-7 {
  left: 68%;
}
.slide-tech .tech-img-8 {
  left: 80%;
}
.slide-tech .tech-img-9 {
  left: 86%;
}
.cssanimations .next .anim {
  -webkit-animation-duration: .4s;
  -webkit-animation-fill-mode: backwards;
  -webkit-animation-name: next-translate;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-duration: .4s;
  -moz-animation-fill-mode: backwards;
  -moz-animation-name: next-translate;
  -moz-animation-timing-function: ease-out;
  animation-duration: .4s;
  animation-fill-mode: backwards;
  animation-name: next-translate;
  animation-timing-function: ease-out;
}
.cssanimations .next .anim-1 {
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  animation-delay: .1s;
}
.cssanimations .next .anim-2 {
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  animation-delay: .2s;
}
.cssanimations .next .anim-3 {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  animation-delay: .3s;
}
.cssanimations .next .anim-4 {
  -webkit-animation-delay: .4s;
  -moz-animation-delay: .4s;
  animation-delay: .4s;
}
.cssanimations .next .anim-5 {
  -webkit-animation-delay: .5s;
  -moz-animation-delay: .5s;
  animation-delay: .5s;
}
.cssanimations .next .anim-6 {
  -webkit-animation-delay: .6s;
  -moz-animation-delay: .6s;
  animation-delay: .6s;
}
@-webkit-keyframes next-translate {
  from {
    left: 500px;
  }
  to {
    left: 0;
  }
}
@-moz-keyframes next-translate {
  from {
    left: 500px;
  }
  to {
    left: 0;
  }
}
@keyframes next-translate {
  from {
    left: 500px;
  }
  to {
    left: 0;
  }
}
.cssanimations .prev .anim {
  -webkit-animation-duration: .4s;
  -webkit-animation-fill-mode: backwards;
  -webkit-animation-name: prev-translate;
  -moz-animation-duration: .4s;
  -moz-animation-fill-mode: backwards;
  -moz-animation-name: prev-translate;
  animation-duration: .4s;
  animation-fill-mode: backwards;
  animation-name: prev-translate;
}
.cssanimations .prev .prev-anim-6 {
  -webkit-animation-delay: .6s;
  -moz-animation-delay: .6s;
  animation-delay: .6s;
}
.cssanimations .prev .prev-anim-5 {
  -webkit-animation-delay: .5s;
  -moz-animation-delay: .5s;
  animation-delay: .5s;
}
.cssanimations .prev .prev-anim-4 {
  -webkit-animation-delay: .4s;
  -moz-animation-delay: .4s;
  animation-delay: .4s;
}
.cssanimations .prev .prev-anim-3 {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  animation-delay: .3s;
}
.cssanimations .prev .prev-anim-2 {
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  animation-delay: .2s;
}
.cssanimations .prev .prev-anim-1 {
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  animation-delay: .1s;
}
@-webkit-keyframes prev-translate {
  from {
    left: -500px;
  }
  to {
    left: 0;
  }
}
@-moz-keyframes prev-translate {
  from {
    left: -500px;
  }
  to {
    left: 0;
  }
}
@keyframes prev-translate {
  from {
    left: -500px;
  }
  to {
    left: 0;
  }
}
@media only screen and (min-width: 1200px) {
  body {
    font-size: 18px;
  }
  .intro-page h1 {
    font-size: 40px;
  }
  .intro-page p {
    font-size: 30px;
    line-height: 40px;
  }
  .case-open .work-page {
    max-height: 780px;
  }
  .wrapper {
    max-width: 1080px;
  }
  .work-container {
    width: 1080px;
    height: 450px;
    margin-left: -540px;
  }
  .case-open .work-container {
    width: 3240px;
    height: 1320px;
    margin-left: -1620px;
  }
  .case-0-open .work-container {
    left: 150%;
  }
  .case-1-open .work-container {
    left: 50%;
  }
  .case-2-open .work-container {
    left: -50%;
  }
  .case-3-open .work-container {
    left: 150%;
    top: -660px;
  }
  .case-4-open .work-container {
    left: 50%;
    top: -660px;
  }
  .case-5-open .work-container {
    left: -50%;
    top: -660px;
  }
  .case-slider {
    width: 1060px;
  }
}
@media only screen and (max-width: 1000px) {
  .intro-page h1 {
    font-size: 28px;
    margin-bottom: 28px;
  }
  .intro-page p {
    font-size: 23px;
    line-height: 30px;
  }
  .like-slider ul li {
    font-size: 23px;
  }
  .case-open .work-page {
    max-height: 850px;
  }
  .case-text .padding {
    padding: 10px 10px 0;
  }
  .wrapper {
    max-width: 640px;
  }
  .case-block {
    height: 33.3333%;
  }
  .half {
    width: 100%;
  }
  .third {
    width: 100%;
  }
  .two-thirds {
    width: 100%;
  }
  .about-content {
    padding: 20px 10px 10px 20px;
    margin-bottom: 0;
  }
  .contact-content {
    border-bottom-width: 20px;
    margin-bottom: 0;
  }
  .contact-content {
    border-left-width: 20px;
    border-top-width: 10px;
  }
  .case-block.third {
    width: 50%;
  }
  .work-container {
    width: 640px;
    height: 600px;
    margin-left: -320px;
  }
  .case-open .work-container {
    width: 1280px;
    height: 2200px;
    margin-left: -640px;
  }
  .case-0-open .work-container {
    left: 100%;
  }
  .case-1-open .work-container {
    left: 0%;
  }
  .case-2-open .work-container {
    left: 100%;
    top: -733px;
  }
  .case-3-open .work-container {
    left: 0%;
    top: -733px;
  }
  .case-4-open .work-container {
    left: 100%;
    top: -1466px;
  }
  .case-5-open .work-container {
    left: 0%;
    top: -1466px;
  }
  .button.button-case-site {
    position: static;
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .case-slider {
    width: 620px;
  }
  .case-slide {
    height: 180px;
    padding: 20px 0 30px;
  }
  .slide-design div {
    width: 220px;
    margin-left: -110px;
    top: 65px;
  }
  .slide-responsive div {
    height: 150px;
  }
  .slide-responsive .respon-img-1 {
    margin-left: -86px;
    left: 50%;
  }
  .slide-responsive .respon-img-2 {
    margin-left: -77px;
    left: 30%;
  }
  .slide-responsive .respon-img-3 {
    margin-left: -35px;
    left: 64%;
  }
  .slide-responsive .respon-img-4 {
    margin-left: -15px;
    left: 73%;
  }
  .slide-tech div {
    margin-left: -60px;
    height: 150px;
  }
}
@media only screen and (max-width: 750px) {
  .mobile-only {
    display: block;
  }
  .button.button-case-site {
    margin: 10px 0;
  }
  .page-down {
    margin-top: 0;
  }
  .intro-page .big {
    font-size: 46px;
  }
  .case-open .work-page {
    max-height: none;
  }
  header {
    position: static;
    margin-bottom: 20px;
    overflow: hidden;
  }
  header .wrapper {
    padding: 0;
  }
  header h1 {
    margin-left: 10px;
  }
  .svg.inlinesvg header h1 a.logo-svg {
    margin-bottom: 6px;
    margin-top: 6px;
  }
  #logo {
    height: 36px;
    width: 54px;
  }
  header h1 a {
    line-height: 24px;
  }
  .mobile-menu {
    height: 60px;
    margin-right: 10px;
  }
  .mobile-nav {
    width: 55px;
    height: 60px;
    background-image: url(/images/mobile-nav.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: 10px;
    opacity: 0.8;
    cursor: pointer;
  }
  .svg .mobile-nav {
    background-image: url(/images/mobile-nav.svg);
  }
  .mobile-nav:hover {
    opacity: 1;
  }
  .mobile-share {
    width: 55px;
    height: 60px;
    background-image: url(/images/share.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.8;
    cursor: pointer;
  }
  .svg .mobile-share {
    background-image: url(/images/share.svg);
  }
  .mobile-share:hover {
    opacity: 1;
  }
  .share {
    position: static;
    padding: 0;
    width: 100%;
    background: none;
  }
  .svg .share {
    background: none;
  }
  .js .share {
    display: none;
  }
  .share ul {
    float: left;
    width: 100%;
  }
  .share ul li {
    margin: 0;
    width: 33.3333%;
  }
  .share ul li a {
    width: 100%;
  }
  .share .facebook-share a {
    background-color: #395E96;
  }
  .share .linkedin-share a {
    background-color: #007AB7;
  }
  .share .twitter-share a {
    background-color: #00A7E2;
  }
  .js .menu {
    display: none;
  }
  .menu {
    float: left;
    clear: both;
    width: 100%;
  }
  .menu ul {
    float: left;
    width: 100%;
  }
  .menu ul li {
    clear: both;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .menu ul li a {
    padding: 0 10px;
    background: rgba(0, 0, 0, 0.4);
    margin-top: 1px;
    display: block;
  }
  .header-wrapper {
    margin: 0;
  }
  .about-content {
    padding: 20px 10px 10px 20px;
  }
  .contact-content {
    border-left-width: 20px;
    border-top-width: 10px;
  }
  .wrapper {
    max-width: none;
    padding: 0 10px;
  }
  .case-block {
    padding: 0;
    height: auto;
    min-height: 100px;
    margin-bottom: 10px;
  }
  .case-block.third {
    width: 100%;
  }
  .work-container {
    width: 100%;
    height: auto;
    margin-left: 0;
    left: 0;
    margin-top: 0;
  }
  article h1 {
    width: 100%;
    text-align: center;
    padding: 20px 0;
  }
  .case-content {
    overflow: visible;
  }
  .thumb-color {
    width: 100%;
    text-align: center;
    height: 60px;
    padding: 20px 0 0;
  }
  .thumb-color img {
    height: 100%;
    width: auto;
  }
  .thumb {
    width: 100%;
    height: 60px;
    padding: 20px 0;
    position: absolute;
    background: black;
    background: rgba(0, 0, 0, 0.5);
  }
  .thumb-wrap {
    height: 100%;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    margin: 0;
  }
  .block-wrapper {
    height: auto;
    background: none;
  }
  .active-case .block-wrapper {
    top: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  .js .case-study {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  .js .active-case .case-study {
    max-height: 1200px;
  }
  .case-study {
    height: auto;
    display: block;
  }
  .case-open .work-container {
    width: 100%;
    height: auto;
    margin-left: 0;
  }
  .case-0-open .work-container {
    left: 0;
    top: 0;
  }
  .case-1-open .work-container {
    left: 0;
    top: 0;
  }
  .case-2-open .work-container {
    left: 0;
    top: 0;
  }
  .case-3-open .work-container {
    left: 0;
    top: 0;
  }
  .case-4-open .work-container {
    left: 0;
    top: 0;
  }
  .case-5-open .work-container {
    left: 0;
    top: 0;
  }
  .case-slider {
    width: 100%;
  }
}
/*-------------------------------------------------
	No JS or No CSS Transistions
-------------------------------------------------*/
.no-js .home .work-page,
.no-js .home .contact-page {
  display: none;
}
.no-js .work .intro-page,
.no-js .work .contact-page {
  display: none;
}
.no-js .contact .intro-page,
.no-js .contact .work-page {
  display: none;
}
.no-js .content,
.no-csstransitions .content {
  position: static;
  clear: both;
}
.no-js .work-container,
.no-csstransitions .work-container {
  width: 100%;
  height: auto;
  margin-left: 0;
  left: 0;
}
.no-js .case-block,
.no-csstransitions .case-block {
  clear: both;
  width: 100%;
  height: auto;
}
.no-js .thumb,
.no-csstransitions .thumb {
  display: none;
}
.no-js .case-slide {
  display: none;
}
.no-js .case-slide.slide-0 {
  display: block;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */

  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}
/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.clearfix:after {
  clear: both;
}
/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
  
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
       * Don't show links for images, or javascript/internal links
       */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
